.nav {
    padding: 10px;
}

a {
    text-align: center;
    width: 80px;
    height: 25px;
    display: inline-block;
    text-decoration: none;
}
.active {
    color: purple;
    font-weight: bold;
}
.PreJuniorLink {
    color: darkorange;
}
.JuniorLink {
    color: darkgreen;
}
.JuniorPlusLink {
    color: darkred;
}