.nav {
    padding: 10px;
    display: flex;
    width: 265px;
    transform: translate(-250px);
    transition-duration: 500ms;
}
.nav:hover {
    transform: translate(0px);
}
a {
    text-align: center;
    width: 80px;
    height: 25px;

    text-decoration: none;
}
.active {
    color: purple;
    font-weight: bold;
}
.PreJuniorLink {
    color: darkorange;
}
.JuniorLink {
    color: darkgreen;
}
.JuniorPlusLink {
    color: darkred;
}
.block {
    margin-left: 25px;
    width: 25px;
    height: 25px;
    background-color: deepskyblue;
}